.background {
	background-color: #3CAF98;
	background: linear-gradient(to bottom, #3CAF98 0%, #3CAF98 35%, #f8f9fa 35%, #f8f9fa 100%);
}

.py-10 {
	padding-top: 6rem !important;
	padding-bottom: 6rem !important;
}

.mw-50 {
	max-width: 50% !important;
}

.mw-25 {
	max-width: 25% !important;
}