.background {
	background: rgba(85, 112, 246, 0.808);
}

.py-10 {
	padding-top: 6rem !important;
	padding-bottom: 6rem !important;
}

.mw-50 {
	max-width: 50% !important;
}

.mw-25 {
	max-width: 25% !important;
}