<div class="main py-4 ">
	<div class="container px-lg-5">
		<div *ngIf="user" class="px-4 py-2 px-lg-5 bg-light rounded-3 text-center">
			<div class="m-0 m-lg-5">
				<div class="row">
					<div class="align-items-center bg-light" [class]="user.imgUrl2 ? 'col-md-6' : 'col'">
						<div class="image-div">
							<img [src]="user.imgUrl1" alt="User_img1">
						</div>
					</div>
					<div *ngIf="user.imgUrl2" class="col-md-6 align-items-center bg-light">
						<div class="image-div">
							<img [src]="user.imgUrl2" alt="User_img2">
						</div>
					</div>
				</div>
				<div class="usr-data">
					<h1 class="display-0 fw-bold" id="usr-data-username">{{ user | userName }}</h1>
					<p class="fs-4" id="usr-data-email">{{ user.email }}</p>
					<div class="ms-3" [ngSwitch]="user.role">
						<span  *ngSwitchCase="'admin'">Admin</span>
						<span  *ngSwitchCase="'patient'">Paciente</span>
						<span  *ngSwitchCase="'specialist'">Especialista</span>
					</div>
				</div>
			</div>

			<div class="spec-shift" *ngIf="specialist">

				<h3>Días de trabajo:</h3>
				<div class="list-group-inline">
					<input type="checkbox" class="btn-check" id="sunday" autocomplete="off" (change)="toggleWorkingDay(0)" [checked]="specialist.workingDays.includes(0)" />
					<label class="btn btn-outline-primary mx-1 mb-1" for="sunday">Domingo</label>
		  
					<input type="checkbox" class="btn-check" id="monday" autocomplete="off" (change)="toggleWorkingDay(1)" [checked]="specialist.workingDays.includes(1)" />
					<label class="btn btn-outline-primary mx-1 mb-1" for="monday">Lunes</label>
		  
					<input type="checkbox" class="btn-check" id="tuesday" autocomplete="off" (change)="toggleWorkingDay(2)" [checked]="specialist.workingDays.includes(2)" />
					<label class="btn btn-outline-primary mx-1 mb-1" for="tuesday">Martes</label>
		  
					<input type="checkbox" class="btn-check" id="wednesday" autocomplete="off" (change)="toggleWorkingDay(3)" [checked]="specialist.workingDays.includes(3)" />
					<label class="btn btn-outline-primary mx-1 mb-1" for="wednesday">Miércoles</label>
		  
					<input type="checkbox" class="btn-check" id="thursday" autocomplete="off" (change)="toggleWorkingDay(4)" [checked]="specialist.workingDays.includes(4)" />
					<label class="btn btn-outline-primary mx-1 mb-1" for="thursday">Jueves</label>
		  
					<input type="checkbox" class="btn-check" id="friday" autocomplete="off" (change)="toggleWorkingDay(5)" [checked]="specialist.workingDays.includes(5)" />
					<label class="btn btn-outline-primary mx-1 mb-1" for="friday">Viernes</label>
		  
					<input type="checkbox" class="btn-check" id="saturday" autocomplete="off" (change)="toggleWorkingDay(6)" [checked]="specialist.workingDays.includes(6)" />
					<label class="btn btn-outline-primary mx-1 mb-1" for="saturday">Sábado</label>
				  </div>

				<hr class="mb-lg-5">
				<h3>Horario de trabajo:</h3>
				<div class="row">
					<div class="col">
						<label for="shiftStart">Desde</label>
						<input type="time" class="form-control rounded-2" id="shiftStart" [(ngModel)]="specialist.shiftStart">
					</div>
					<div class="col">
						<label for="shiftEnd">Hasta</label>
						<input type="time" class="form-control rounded-2" id="shiftEnd" [(ngModel)]="specialist.shiftEnd">
					</div>
				</div>

				<div class="feature bg-primary-subtle rounded-3 mt-1">
					<button class="bg-transparent border-0  text-dark"
						[disabled]="this.specialist!.shiftStart < '08:30' || this.specialist!.shiftEnd > '18:30' || this.specialist!.shiftStart >= this.specialist!.shiftEnd"
						(click)="saveShift()">Guardar</button>
				</div>
			</div>

			<hr class="my-lg-3">
			<div class="feature bg-primary rounded-3 mb-5">
				<button class="bg-transparent border-0  text-white btn-large " (click)="signOut()">Cerrar sesion</button>
			</div>
		</div>
	</div>
