<div class="bg-custom">
  
	<div class="hero_area">
	  <div class="hero_bg_box">
		<img src="../../../assets/hero-bg.png" alt="" />
	  </div>
	
	  <div class="container mt-5">
		<div class="row">
		  <div class="col-md-7">
			<div class="detail-box">
			  <h1 class="text-light"><b>Brindamos los mejores servicios</b></h1>
			  <p class="text-light fs-5">
				Somos un centro de diagnóstico con consultorios médicos
				especializados en diversas áreas de la medicina. Ofrecemos
				tecnología avanzada en estudios de imagenología preventiva para el
				diagnóstico temprano, permitiendo una mayor efectividad en futuros
				tratamientos, mejorando en definitiva la calidad de vida.
			  </p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- about section -->
	
	<section class="about_section layout_margin-bottom">
	  <div class="container">
		<div class="row">
		  <div class="col-md-6">
			<div class="img-box">
			  <img src="../../../assets/about-img.png" alt=""  class="mb-5"/>
			</div>
		  </div>
		  <div class="col-md-6">
			<div class="detail-box">
			  <div class="heading_container">
				<h2>Sobre nosotros</h2>
			  </div>
			  <p class="fs-6">
				Contamos con múltiples consultorios médicos totalmente equipados
				conectados con las salas de estudio de imágenes, el laboratorio y el
				departamento de cardiología, todo dentro de un entorno cálido y
				digital.
			  </p>
			</div>
		  </div>
		</div>
	  </div>
	</section>
  </div>
  
  