<!-- header section starts -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container px-lg-5">
		<a class="navbar-brand" routerLink="/home">La Clínica </a>
		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			<li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
			<ng-container *ngIf="user; else notLogged">
				<li class="nav-item"><a class="nav-link" *ngIf="user.role !== 'specialist' && isValid" routerLink="/sacar-turno">Nuevo turno</a></li>
				<li class="nav-item"><a class="nav-link" *ngIf="isValid" routerLink="/ver-turnos">Turnos</a></li>
				<li class="nav-item"><a class="nav-link" *ngIf="user.role === 'specialist' && isValid" routerLink="/mis-pacientes">Mis pacientes</a></li>

				<li class="nav-item"><a class="nav-link" *ngIf="user.role === 'admin' && isEmailVerif" routerLink="/usuarios">Usuarios</a></li>
				
				<li class="nav-item"><a class="nav-link" *ngIf="user.role === 'specialist' && !isValid" routerLink="/habilitar-especialista">Enable</a></li>
				<li class="nav-item"><a class="nav-link" *ngIf="user.role === 'admin' && isEmailVerif" routerLink="/informes/informes">Informes</a></li>
				<li class="nav-item"><a class="nav-link" *ngIf="!isEmailVerif" routerLink="/verificar-cuenta">Verificar</a></li>
				
				<li class="nav-item"><a class="nav-link" *ngIf="user.role === 'patient'" routerLink="/mi-perfil">Mi perfil</a></li>
				<li class="nav-item"><a class="nav-link" *ngIf="user.role !== 'patient' && isValid" routerLink="/perfil">Perfil</a></li>
			</ng-container>

			<ng-template #notLogged>
				<li class="nav-item"><a class="nav-link" routerLink="/iniciarSesion">Iniciar sesion</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="/registrarse">Registrarse</a></li>

			</ng-template>
		</ul>
	</div>
</nav>
<!-- end header section -->
<main [@routeAnimations]="prepareRoute(outlet)">
	<router-outlet #outlet="outlet"></router-outlet>
</main>
