
<!-- header section starts -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container px-lg-5">
		<a class="navbar-brand" routerLink="/home">Clínica online</a>
		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			<li class="nav-item"><a  class="nav-link" (click)="navigate('home')">Home</a></li>
			 <ng-container *ngIf="user; else notLogged">
				
				<li class="nav-item"><a class="nav-link" *ngIf="user.role === 'especialista' && isValid" routerLink="/my-patients">My Patients</a></li>
				<li class="nav-item"><a class="nav-link" *ngIf="user.role === 'paciente'" routerLink="/my-profile">My perfil</a></li>
				<li class="nav-item"><a class="nav-link" *ngIf="user.role !== 'paciente' && isValid" routerLink="/account">Cuenta</a></li>
				
				<li class="nav-item"><a class="nav-link" *ngIf="user.role === 'especialista' && !isValid" routerLink="/specialist-enabling">Enable</a></li>
				<li class="nav-item"><a class="nav-link" *ngIf="!isEmailVerif" routerLink="/account-verification">Verify</a></li>
			</ng-container> 

			<ng-template #notLogged>
				<li class="nav-item"><a  class="nav-link" (click)="navigate('login')">Iniciar sesión</a></li>
				<li class="nav-item"><a  class="nav-link" (click)="navigate('registrarse')">Registrarse</a></li>

			</ng-template>
		</ul>
	</div>
</nav>
<!-- end header section -->

<router-outlet />
