.list-group-item:hover {
	cursor: pointer;
	z-index: 1;
	color: var(--bs-list-group-action-hover-color);
	text-decoration: none;
	background-color: var(--bs-list-group-action-hover-bg);
}

/* Image input */
input[type="file"] {
	display: none;
}

.custom-file-label {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

/* Role Radio */
.roles input[type="radio"]>img:hover {
	cursor: pointer;
}

.roles input[type="radio"]:checked+label>img {
	filter: brightness(105%);
	transform: scale(1.25);
	transition: all .5s ease;
}