<div class="container my-1 p-3">
	<h1 mat-dialog-title>Completa esta encuesta</h1>
	<form mat-dialog-content class="needs-validation" [formGroup]="surveyForm" (ngSubmit)="submitSurvey()">
		<h4>{{patient | userName}}</h4>

		<div class="text-center">
			<h4 class="d-flex justify-content-between align-items-center">
				<span class="text-muted fs-5">¿Cómo calificarías la atención médica?</span>
			</h4>
			<label for="attRange" class="form-label">del 1 al 10</label>
			<input type="range" class="form-range" min="1" max="10" id="attRange" formControlName="attention">
		</div>

		<div class="text-center">
			<h4 class="d-flex justify-content-between align-items-center">
				<span class="text-muted fs-5">¿Cómo calificarías nuestra accesibilidad?</span>
			</h4>
			<label for="accessRange" class="form-label">del 1 al 10</label>
			<input type="range" class="form-range" min="1" max="10" id="accessRange" formControlName="accessibility">
		</div>

		<div class="text-center">
			<h4 class="d-flex justify-content-between align-items-center">
				<span class="text-muted fs-5">¿Qué probabilidades hay de que nos recomiende?</span>
			</h4>
			<label for="recomRange" class="form-label">del 1 al 10</label>
			<input type="range" class="form-range" min="1" max="10" id="recomRange" formControlName="recommend">
		</div>

		<div class="mt-1">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted fs-5">¿Tienes alguna sugerencia o comentario?</span>
			</h4>
			<textarea type="text" rows="5" class="form-control overflow-y-scroll" formControlName="comments"></textarea>
		</div>

		<div class="d-flex justify-content-center mt-3">
			<button mat-dialog-actions class="btn btn-primary btn-lg btn-block" type="submit"
				[disabled]="surveyForm.invalid">Enviar</button>
		</div>
	</form>
</div>